@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background: antiquewhite;
    padding: 2em 0;
    color: #5c5d5c;
}

footer div[class*="col-4"] a:hover {
    text-decoration: none;
    color: lightblue;
}

div[class*="col-4"] a {
    color: #5c5d5c;
}

div[class*="col-4"] a i {
    font-size: 2em;
    padding: 0 3px;
}

.social-media a:nth-child(1):hover {
    color: #3b5998 !important;
}

.social-media a:nth-child(2):hover {
    color: #E91E63 !important;
}

.social-media a:nth-child(3):hover {
    color: #00acee !important;
}

.social-media a:nth-child(4):hover {
    color: #4CAF50 !important;
}

.phone i, .mail i {
    font-size: 1.5em;
}

.phone p, .mail p {
    font-weight: 300;
}

.col-4.text-center:hover img {
    box-shadow: 0px 0px 15px white;
}

ul.list-param {
    font-weight: 500;
}

h2.display-4.title {
    font-weight: 500;
    margin-top: 1em;
    color: #ffffff;
}

img.portrait-height {
    width: 250px;
    height: 250px;
    box-shadow: 0px 0px 10px #000000;
    transition: 0.3s;
}

div#root, div#test {
    font-family: 'Montserrat', sans-serif;
}