img.img-fluid.founder-portrait-right, 
img.img-fluid.founder-portrait-left {
    height: 95%;
    width: 90%;
    box-shadow: 0px 0px 5px;
    border-radius: 1em;
}

img.img-fluid.founder-portrait-left {
    margin-top: 0.5em;
}

img.img-fluid.founder-portrait-right {
    margin-top: 0.5em;
    margin-left: 3em;
}


.container .row.mt-5.mb-5:nth-child(1) .col-4 img{
	border: 5px solid #d3baa4;
}

img.img-fluid.founder-portrait-left {
    border: 5px solid #4e4d38;
}

img.img-fluid.founder-portrait-left {
    margin-left: -20px;
}

.col-8.text-light.founder-talk-1, 
.col-8.text-light.founder-talk-2,
.col-8.text-light.founder-talk-3 {
    background: #3949AB;
    margin: 0.5em 0;
    padding: 15px;
    box-shadow: 0px 0px 8px black;
    border-radius: 10px;
}

.col-8.text-light.founder-talk-3 {
    background: #607D8B;
}

.col-8.text-light.founder-talk-2 {
    background: #4CAF50;
}

.col-8.text-light.founder-talk-1:after, 
.col-8.text-light.founder-talk-2:before,
.col-8.text-light.founder-talk-3:after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	right: -35px;
	width: 35px;
	height: 35px;
	background: #3949ab;
	clip-path: polygon(0% 87%, 50% 0%, 50% 0%, 100% 87%);
	transform: rotate(90deg) translate(-50%, 5px);
}

.col-8.text-light.founder-talk-3:after {
    background: #607d8b;
}

.col-8.text-light.founder-talk-2:before {
	top: 50%;
	right: 0;
	left: -35px;
	transform: rotate(30deg) translate(0px, -50%);
	background: #4caf50;
}

div#about {
    padding-bottom: 3rem;
}
