.carousel-caption.d-none.d-md-block h5 {
    color: #ffffff;
    font-size: 3em;
}
.carousel-caption.d-none.d-md-block {
    text-shadow: 0px 0px 5px;
}

div#carouselExampleCaptions img {
    height: 100vh;
}

div#nav-bar {
    position: relative;
    z-index: 1000;
}

ul.navbar-nav.list-news-menu {
    margin: 0 1em;
    align-items: 
    flex-start;
    display: none;
}

ul.navbar-nav.list-news-menu.open {
    display: block;
}

li.nav-item.list-news {
    margin: 0;
}

button.toggle {
    background: #00000030;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    border: 2px solid white;
    border-radius: 20%;
    position: fixed;
    right: 20px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

button.toggle i {
    color: white;
}

li.nav-item.active a {
    color: #f0994a;
    font-weight: 600;
}

li.nav-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

li.nav-item.active::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 10px;
    background: #f0994a;
}

ul.navbar-nav.list-menu {
    margin-left: 0.5em;
    font-size: 1.3em;
}

a.navbar-brand {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5em;
    font-weight: 700;
    background: transparent;
    border-bottom: 1px solid white;
    text-transform: uppercase;
    padding-left: 0.5em;
    color: white !important;
}

nav.bar {
    height: 100vh;
    width: 250px;
    background: linear-gradient(to left, #0000008c, #00000078);
    position: fixed;
    right: -250px;
    top: 0;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    z-index: 1000;
}
nav.bar.open{
    right: 0;
}

nav.bar a {
    color: white;
}